{% extends 'base.html' %}
{% block title %} About {% endblock %}
     
{% block body %}
        <section class="about">
            <div class="container">
               <header class="hd">
                  <img src="static/images/New Reg Corsa_0.jpg" class="hd-img">
                  <h4>About Us</h4>
               </header>
               <section class="py-5 lh-l">
                  <h3 class="h2">About Us</h3>
                  <p class="about-content fs-4">
                     <h2>Country:</h2>
                     Yemen
                     <h2>Email:</h2>
                     Mohammed2020.abdulwahab@gmail.com
                     <h2>Phone:</h2>
                     +967735239129         
                  </p>
               </section>
            </div>
         </section>
{% endblock %}
    